@page "/Pagina"

<PageTitle>Sobre mi</PageTitle>

<div align = "center"> <MudText Typo="Typo.h3" GutterBottom="true">How do I see myself in twenty years?</MudText> </div>
<MudText Class=></MudText>"A few months ago, I had totally different plans, and I was completely sure about what I wanted to do. But as time passed, I realized that I wanted different things.
First, at this point I am not sure about the career I chose, and I have had many crises thinking that I am not good enough to study this. However, it makes me excited to think about the future and that I will finish this career in a few years, and I am pretty sure that through my career I will find the area that I really like and the one that I will be specializing. For now, I think Artificial Intelligence is the thing that it has drawn my attention, so hopefully, I will be learning a lot about it.
<br />
<br />
 So, in twenty years I hope I will already have my own company, where I will have given many jobs to different people and be able to have economic stability. I also want to travel a lot, so I hope that at that time I will have gone to many countries, specially in Europe and Asia (Korea and Sweden will be my two favorite countries to visit). But of course, I would like to travel all over the world just to know a lot more about different cultures and religions, because I think religion is a really interesting topic that changes depending on the society that people live in. Because apart from engineering, I think that it is important to know different things, specially on the social studies. I would love to have knowledge on philosophy and topics that are not so common, but not only studying but getting to know people and places that help me to grow in different aspects.
<br />
<br />
About my family, I really want to thank my father for everything that he have done for me and everything that he gave me. So, I want to take him to many places that he have told me he wanted to go, like Dubai, the Maldives and others. Also, I want to give him a really big house, so that he can enjoy his life as he should. And last but not least, I want him to be proud about what I have achieved and what I have become at that time.

In twenty years, I would also like to live with two dogs in a big house so that they can have plenty of space to have fun and do what they need if I am not in the house to take them out.
<br />
<br />
About my family, I really want to thank my father for everything that he have done for me and everything that he gave me. So, I want to take him to many places that he have told me he wanted to go, like Dubai, the Maldives and others. Also, I want to give him a really big house, so that he can enjoy his life as he should. And last but not least, I want him to be proud about what I have achieved and what I have become at that time.

In twenty years, I would also like to live with two dogs in a big house so that they can have plenty of space to have fun and do what they need if I am not in the house to take them out.
<br />
Talking about my personal goals, I hope that in twenty years I will be happy with my life and with the things that I would have done. I hope that I would have a beautiful family, maybe with kids, but right now it is not a priority for me. I just know that I want to be surrounded by people that make me happy and give me confidence to keep chasing my dreams and goals. 

About my hobbies, I hope that in twenty years I will still be playing squash and maybe at that time I would have found another hobby. But for now, I want to get better at squash and play competitive occasionally. In fact, I would like to learn how to play some instrument, because even though I have tried to play the guitar, I never really learned. So, I hope that in twenty years I will have learned how to play any instrument.

On the other side, it makes me anxious to think about the future and that I might not be able to achieve everything that I want. However, I am pretty sure that through time I will know people and will leave many others just so I can learn and grow from them. Because I think that living different experiences help us to know what do we want and what do we want to change of ourselves in order to achieve certain goals, 

Another aspect that I consider really important is music, so I really hope that in twenty years I will have gone already to many concerts of different artists. I have always thought that music helps us at every moment and that life without it would be meaningless, and it wouldn’t be the same. Music has helped me through tough times, and it has become essential in my daily life, and I am pretty sure that it won't change. So, getting to know my favorite artists and having the experience of being in a concert will be awesome, and I think it is important to achieve the happiness that I want.

And last but not least, I hope that I will be happy with myself  and that I will have learned that it is okay to not feel okay. But that there is always a better time coming , and that life could be tough but that I am strong enough to overcome all of those difficult situations.


